:root {
    /* --background-color:rgb(20, 18, 11);  #000000 
    --btn-background:#fff;
    --btn-color:#14120b; */
    --default-font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-theme-bg: #14120b;
    --color-theme-fg: #edecec;
    --color-theme-fg-02: #d7d6d5;
    --color-theme-card-hex: #1b1913;
    --color-theme-card-rgb: 27 29 39;
    --color-theme-card-01-hex: #1d1b15;
    --color-theme-card-02-hex: #201e18;
    --color-theme-card-03-hex: #26241e;
    --color-theme-card-04-hex: #2b2923;
    --color-theme-card-hover-hex: #201e18;
    --color-theme-card-hover-light-hex: #1d1b15;
    --color-theme-product-chrome: var(--color-theme-bg);
    --color-theme-product-editor: var(--color-theme-card-hex);
    --faint-text-color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
    --color-theme-accent: #f54e00;
    --color-theme-product-ansi-red: #cf2d56;

}

* {
    margin: 0;
    padding: 0;
    border: 0 solid;
    box-sizing: border-box;
}

@font-face {
    font-family: CursorGothic;
    src: url(../media/CursorGothic_Regular-s.p.a361088d.woff2) format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--color-theme-bg);
    color: var(--color-theme-fg);
    font-family: var(--default-font-family);
}

header {
    /* position: fixed; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-theme-bg);
}

.head {
    margin: 0 185px;
    /* position: fixed; */
    max-width: 1340px;
    width: 100%;
}

.head-container {
    margin: 14px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.head-logo {
    cursor: pointer;
    width: 95px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(106deg) brightness(104%) contrast(103%);
}

.head-list-ul {
    list-style: none;
    display: flex;

    gap: 28px;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    padding: 0 5px;
    /* padding: 0 20px; */

}

.head-list-ul li:hover {
    color: var(--faint-text-color);
}


.btn1:hover {
    background-color: var(--color-theme-card-hover-light-hex);
}

.head-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
    gap: 300px;
}

.list {
    /* width: 340px; */
    margin: 0 20px;
    cursor: pointer;
}

.btn {
    font-family: 'CursorGothic', var(--default-font-family);
    padding: 5px 14px;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    border: 1px solid rgba(128, 128, 128, 0.405);
    cursor: pointer;

}

.btn:hover {
    background-color: var(--color-theme-fg-02);
}


.btn1 {
    color: var(--color-theme-fg);
    background-color: var(--color-theme-bg);
    cursor: pointer;
}

.btn2 {
    cursor: pointer;
    background-color: var(--color-theme-fg);
    color: var(--color-theme-bg);
}

.container {
    width: 100%;
    margin-top: 150px;
}

.cont1 {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main {
    margin: 0 205px;
}

.main-h1 {
    font-weight: 300;
    font-size: 26px;
    width: 500px;
    line-height: 32px;
}

.main-btn1 {
    margin: 22px 0;
    display: flex;
    flex-direction: row;
    background-color: var(--color-theme-fg);
    color: var(--color-theme-bg);
    align-items: center;
    justify-content: center;
    border: var(--color-theme-fg);
    border-radius: 20px;
    padding: 10px 16px;
    gap: 0px;

}

.main-btn {
    /* align-items: center; */
    border: none;
    padding: 2px;
    font-size: 16px;
}

.down-icon {
    padding-right: 8px;
}

.box1 {
    /* border :1px solid red; */
    margin: 60px 0;
    border-radius: 4px;
    height: auto;
    /* color: aliceblue;
    background-color: aqua; */
    background-image: url(./background1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.box1-container {
    width: 1300px;
    height: 680px;
    position: relative;
    display: flex;


}

.box1-img {
    /* margin-top: 4%; */
    margin: 4% 8%;
}

.box1-img img {

    z-index: 20;
    cursor: pointer;
    width: 80%;
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;

    border-radius: 8px;

}

.cards {
    display: flex;
    width: 1300px;
    flex-direction: column;
    gap: 20px;
}

.cards-p {
    margin: 12px 0;
    width: 100%;
    align-items: center;
    /* border: 2px solid yellow; */
    text-align: center;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

.cards-container {
    display: flex;
    /* flex-direction: row; */
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.card-all {
    width: 150px;
    height: 100px;
    border: 2px solid red;
    border: none;
    border-radius: 4px;
    background-color: rgb(27, 25, 19);
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-all img {
    height: 40px;
    width: auto;
}

.main-blocks {
    margin-top: 60px;
}

.blocks-container {
    display: flex;
    flex-direction: column;
    gap: 100px;

}

.block-style {
    height: 685px;
    width: 1300px;
    background-color: rgb(27, 25, 19);
    /* border: 1px solid aqua; */
    border-radius: 4px;
    padding: 17px;
}

.text-container {
    width: 415px;
    height: 650px;
    /* align-items: center; */
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    cursor: pointer;
}

.box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-img-container {
    width: 840px;
    height: 640px;
    /* background-color: rgb(74, 68, 59); */

}

.box2-img {
    background-image: url("./assets/Terminal/03-card2.png");
    border-radius: 4px;
    background-size: cover;
    width: 500px;
}

.box-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-img img {
    width: 90%;
    margin-top: 4%;
    border-radius: 8px;
    cursor: pointer;
}

.box-img2 img {
    width: 80%;
    margin-top: 5%;
    border-radius: 8px;
    cursor: pointer;
}

.box-img3 img {
    margin: 1%;
    overflow: hidden;
    height: 620px;

}

.text-container h3 {
    display: flex;
    font-weight: 300;
    font-size: 22px;
    font-style: normal;
    text-align: left;
}

.text-faint {
    color: var(--faint-text-color);
    font-size: 22px;
    width: 360px;
}

.box-link-red {
    margin-top: 20px;
    color: var(--color-theme-accent);
    cursor: pointer;
}

.box-link-red:hover {
    color: var(--color-theme-product-ansi-red);
}

.box1-container1 {
    background-color: rgb(83, 76, 68);
    border-radius: 4px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box2-container {
    background-image: url(./assets/bg-img/box2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box3-container {
    background-image: url(./assets/bg-img/box3.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.box2-style {
    display: flex;
    gap: 40px;
}

.second-block-head {
    margin-top: 150px;
    margin-bottom: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    /* font-size: 1.3rem;
    font-weight: 200; */
}

.second-block-head h2 {
    font-size: 36px;
    font-weight: 300;
}

.second-block-cards-container {
    /* height: 240px;
    width: 426px; */
    height: 490px;
    width: 1300px;
    /* border: 2px solid wheat; */
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;


}

.second-block-box-container {

    background-color: rgb(27, 25, 19);
    height: 240px;
    /* border: 2px solid red; */
    border-radius: 4px;
    width: 426px;

}

.second-block-padding {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid wheat; */
    height: 100%;
    /* align-items: center; */
    align-content: flex-end;
}

.block-para {
    color: #edecec;
    font-size: 16px;
    font-weight: 300;
}

.second-block-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 300;
}

.second-block-footer img {
    width: 40px;
    height: 40px;
    border-radius: 4px;

}

.second-cards-block-text {
    display: flex;
    flex-direction: column;
}

.sec-head-faint {
    color: var(--faint-text-color);
}

/* 
.cards3-container{
    /* width: 1710px; 
    /* height: 832px; 
} */

.cards3-sec-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;

}

.cards3-h2 {
    margin-top: 100px;
    font-size: 26px;
}

.cards3-back {
    display: flex;
    height: 553px;
    width: 426px;
    /* border: 2px solid red; */
    border-radius: 4px;
    background-color: rgb(27, 25, 19);
}

.cards3-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* border: 2px solid red; */
    /* background-color: rgb(20, 18, 11); */
}

.cards3-clear {
    font-size: 16px;
    font-weight: 300;
}

.cards3-faint {
    font-size: 16px;
    color: var(--faint-text-color);
    margin-top: 2px;
    font-weight: 300;
    /* #1b1913; */
}

.cards3-red {
    font-size: 16px;
}

.cards3-container-child {
    background-color: rgb(38, 36, 30);
    border-radius: 6px;
    height: 390px;
    width: 390px;
}

.changelog {
    margin-top: 160px;

}

.change-top-name h2 {
    font-size: 26px;
    font-weight: 300;
}

.changelog-cards-container {
    /* width: 1300px; */
    /* height: 220px; */
    /* border: 2px solid rebeccapurple; */
    margin-top: 30px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;

}

.changelog-cards-back {
    width: 315px;
    height: 120px;
    border-radius: 4px;
    /* border: 1px solid red; */
    background-color: rgb(27, 25, 19);
    cursor: pointer;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.changelog-cards-head {
    color: var(--faint-text-color);
    display: flex;
    gap: 10px;
    font-size: 14px;
    align-items: center;
}

.changelog-rating {
    border: 1px solid var(--faint-text-color);
    padding: 3px 9px;
    border-radius: 12px;
}

.changelog-cards-main {
    /* margin-top: 10px; */
    align-items: center;
}

.changelog-cards-clear {
    font-size: 16px;
    font-weight: 300px;
    /* border: 2px solid red; */
}

.big-box-container {
    margin-top: 100px;
    /* border: 2px solid red; */
    border-radius: 4px;
    background-color: rgb(27, 25, 19);
    height: 507px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.big-box-clear {
    /* width: 1300px; */
    /* height: 200px; */
    /* border: 2px solid red; */
    /* padding: 30px; */
    font-size: 22px;
    font-weight: 300;
    width: 380px;

}

.big-box-sec {
    width: 840px;
    height: 470px;
    background: url(./homepage-team-photo.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.footer-cards {
    background-color: rgb(27, 25, 19);
    margin-top: 200px;
}

.footer-cards-bg {
    display: flex;
    height: 685px;
    width: 1710px;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    gap: 70px;
    padding: 100px;
}

.footer-highlight {
    margin: 0 100px;
    width: 200px;

}

.footer-highlight p {
    position: sticky;
}

.footer3-cards {
    height: 150px;
    width: 650px;
    background-color: rgb(32, 30, 24);
    padding: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.footer-text {
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.footer-text-faint {
    color: var(--faint-text-color);
    margin-top: 8px;
}

.footer-date {
    color: var(--faint-text-color);
}

.footer-cards-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-red {
    margin-top: 14px;
}

.footer2 {
    width: 1700px;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer2-text {
    font-size: 72px;
    font-style: normal;
    font-weight: 350;
}

.footer2-download {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer2-download-btn {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    margin: 22px 0;
    display: flex;
    flex-direction: row;
    background-color: var(--color-theme-fg);
    color: var(--color-theme-bg);
    align-items: center;
    justify-content: center;
    border: var(--color-theme-fg);
    border-radius: 20px;
    padding: 10px 16px;
    gap: 0px;
    width: 215px;
    height: 40px;

}

.footer-final-bg {
    height: 465px;
    width: 1700px;
    background-color: rgb(27, 25, 19);
}

.footer-list {
    padding: 65px 20px 30px 20px;
    /* border: 2px solid red; */
    display: flex;
    align-items: top;

    justify-content: space-evenly;
}

.footer-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* border: 2px solid red; */
    gap: 10px;
    font-size: 14px;
}

.footer-list ul li {
    cursor: pointer;
}

.faint {
    color: var(--faint-text-color);
}

.footer-lisence {
    display: flex;
    gap: 30px;
    margin: 100px;
    padding: 0 120px;
    /* border: 2px solid red; */
    font-size: 14px;
    color: var(--faint-text-color);
}

.certificate p {

    color: transparent;
    text-shadow: 0 0 0 #444;
    /* Change color easily */
    font-size: 16px;
    /* Control the size */
    vertical-align: middle;

}

.certificate {
    display: flex;
    align-items: center;
}